/* Základ */
body {
  font-family: "Segoe UI", sans-serif;
  background: #2F2F2F; /* jemné telové pozadie */
  margin: 0;
  padding: 30px;
  color: #222;
}

.container {
  max-width: 1200px;
  margin: 0 auto 40px auto; /* horný a dolný okraj */
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}



/* Hlavička */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.bus-icon {
  font-size: 28px;
}

.line-btn1 {
  background: #ff4c00;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.line-btn1:hover {
  background: #335882;
}

.line-btn2 {
  background: #00831d;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.line-btn2:hover {
  background: #335882;
}

.validity {
  margin-left: auto;
  font-size: 14px;
  color: #666;
}

/* Dve kolónky */
.routes {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* Jedna sekcia */
.direction {
  flex: 1;
  background: #fafafa;
  border-radius: 15px;
  padding: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  transition: background 0.3s ease;
}

.direction:hover {
  background: #f2eee7;
}

.direction h3 {
  margin-bottom: 5px;
  font-size: 14px;
  color: #777;
}

.red {
  color: #154a86;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.orange {
  color: #ff4c00;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.green {
  color: #00831d;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.direction ul {
  list-style: none;
  padding-left: 0;
  border-left: 3px solid #ccc;
  padding-left: 15px;
  margin: 0;
}

.direction li {
  padding: 6px 0;
}

/* Štýl odkazov na zastávky */
.direction li a {
  color: #000; /* čierne linky */
  text-decoration: none; /* žiadne podčiarknutie */
  border-radius: 6px;
  padding: 4px 6px;
  display: inline-block;
  transition: background 0.2s ease;
}

.direction li a:hover {
  background: rgba(0, 0, 0, 0.05); /* jemné zvýraznenie pri hoveri */
  text-decoration: none;
}

.icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-left: 0px;
  filter: brightness(0) saturate(100%) sepia(100%) hue-rotate(190deg) saturate(500%) brightness(100%);
}

.dp_blue {
  color: #52ded9;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.erbenova_orange {
  color: #ffb84e;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.hlavni_green {
  color: #67d271;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.albert_red {
  color: #ff6b6b;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.orlicky_pink {
  color: #fbacff;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.ctpark_blue {
  color: #2c8dff;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}